$dark-blue-900: #041954;
$-: #ffffff;
$exp2492434: #777777;
$dark-blue-800: #112f82;
$dark-blue-700: #002da7;
$dark-blue-600: #0037cc;
$dark-blue-500: #003bff;
$dark-blue-400: #305fff;
$dark-blue-300: #4e80ff;
$dark-blue-200: #74a1ff;
$dark-blue-100: #a0c0ff;
