$v3-DB-900: #041954;
$v3-DB-800: #112f82;
$v3-DB: #ffffff;
$v3-DB-700: #002da7;
$v3-DB-600: #0037cc;
$v3-logo-blue: #ffffff;
$v3-DB-500: #003bff;
$v3-main-blue: #ffffff;
$v3-DB-400: #305fff;
$v3-DB-300: #4e80ff;
$v3-DB-200: #74a1ff;
$v3-DB-100: #a0c0ff;
